extends ../layout

block content
    br
    a.btn.btn-success(href='/usuarios/create') Nuevo Usuario
    br
    br

    table.table
        thead
          tr
            th(scope='col') #
            th(scope='col') Nombre
            th(scope='col') Email
            th(scope='col') Verificado 
            th(scope='col')
            th(scope='col')
        tbody
          each usu in usuarios
            tr
              th(scope='row')
                = usu.id
              td= usu.nombre
              td= usu.email
              td= usu.verificado ? 'SI' : 'NO'
              td   
                a.btn(href='usuarios/' + usu.id + '/update') Editar
              td
                form.inline(method='post' action='usuarios/' + usu.id + '/delete')
                    input(type='hidden' name='id' value=usu.id)
                    button.link-button.btn-danger(type='submit' name='submit_param' value='Eliminar') Eliminar