extends ../layout

block content
    br
    a(href='/usuarios') Volver
    br
    br
    h1 Actualizando Usuario
    br
    form(action=`/usuarios/${usuario.id}/update` method='post')
        .form-group
            label(for='nombre') Nombre:
            input#nombre.form-control(type='text' name='nombre' value=usuario.nombre class=errors.nombre ? 'is-invalid' : '')
            if errors.nombre
                small#nombreHelp.text-danger
                    = error.nombre.message

        br
        br
        input.btn.btn-primary(type='submit' value='OK')