extends ../layout

block content
    br
    a(href='/bicicletas') Volver
    br
    br
    h1 Nueva Bicicleta
    br
    form(action='/bicicletas/create' method='post')
        label(for='code') ID:  
        input#id(type='text' name='code')
        br
        label(for='color') COLOR:  
        input#color(type='text' name='color')
        br
        label(for='modelo') MODELO:  
        input#modelo(type='text' name='modelo')
        br
        label(for='lat') LATITUD:  
        input#lat(type='text' name='lat')
        br
        label(for='long') LONGITUD:  
        input#long(type='text' name='long')
        br
        br
        input.btn(type='submit' value='OK')