extends ../layout

block content
    br
    a(href='/') Volver                        
    a(href='/bicicletas/create') Cargar Bici
    br
    br

    table.table
        thead
          tr
            th(scope='col') #
            th(scope='col') color
            th(scope='col') modelo
            th(scope='col') ubicacion
            th(scope='col')
            th(scope='col')
        tbody
          each bic in bicis
            tr
              th(scope='row')
                = bic.code
              td= bic.color
              td= bic.modelo
              td= bic.ubicacion
              td   
                a(href='bicicletas/'+bic._id+'/update') Modificar
              td
                form.inline(method='post' action='bicicletas/' + bic._id + '/delete')
                    input(type='hidden' name='id' value=bic._id)
                    input.btn(type='submit' value='Eliminar')